.container-credits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person {
    width: 250px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    transition: background-color 2s;
    position: relative;

    cursor: pointer;
  }
  
  .person img {
    width: 100%;
    transition: all 1.5s ease-in-out;
  }
