h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 2.5em;
}

.container {
  margin-top: 3rem;
}

.content-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.container-credits {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgContent {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  max-height: 350px;
  max-width: 100%;
  border-radius:7px;
}

.list-socialNetworks {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding-left: 0;
}

.list-socialNetworks li {
  display: inline-block;
}
