.modal-show {
  display: block;
  /* otras reglas CSS para personalizar la apariencia del modal */
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}