img.reviewImg{
  max-width: 150px;

}

h2 {
  cursor: pointer;
}

h2:hover {
  color: #407BFF;
}

.modal-show {
  display: block; 
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-title {
  font-size: 40px;

}

.modal-content {
  box-shadow: 0 0 10px #407BFF;
}

.modal-header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.modal-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.commentReview {
  height:130px;
  text-align: center;
}

.row.commentRow {
  overflow-y: auto;
  max-height: 130px;
}

#comment {
  height: 100px;
}