<div class="container" (infiniteScroll)="onScroll()">
  <div class="row justify-content-around">
    <div *ngFor="let movie of movies" class="col-md">
      <div>
        <ng-container *ngIf="this.source === 'lists'; else routerLinkTemplate">
          <a (click)="openModal()">
            <img [src]="movie.imageUrl" alt="" />
          </a>
        </ng-container>
        <div
          class="modal bd-example-modal-lg"
          role="dialog"
          *ngIf="modalIsOpen"
          [ngClass]="{ 'modal-show': modalIsOpen }"
        >
        <app-review [movie]="movie" (closeModal)="closeModal()"></app-review>
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h2>{{ movie.title }}</h2>
                <app-star-rating></app-star-rating>
              </div>

              <div class="modal-body">
                <img [src]="movie.imageUrl" alt="" />
                <form>
                  <div class="form-group">
                    <label for="comment">Comment:</label>
                    <textarea
                      class="form-control"
                      rows="5"
                      id="comment"
                    ></textarea>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary"
                  (click)="closeModal()"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary float-right">
                  Save changes
                </button>
              </div>
            </div>
          </div>
        </div>
        <ng-template #routerLinkTemplate>
          <a [routerLink]="['/item', movie.id]">
            <img [src]="movie.imageUrl" alt="" />
          </a>
        </ng-template>
      </div>
      <br />
    </div>
  </div>
</div>
