<div class="container" (infiniteScroll)="onScroll()">
  <div class="text-center" *ngIf="source !== 'lists'">
    <button type="button" class="btn btn-secondary" (click)="restoreCatalog()">
      Reestablecer catálogo
    </button>
    <button class="btn btn-secondary" (click)="sortContentAtoZ()">
      Ordenar A-Z
    </button>
    <button class="btn btn-secondary" (click)="sortContentZtoA()">
      Ordenar Z-A
    </button>

    <select
      class="custom-select"
      [(ngModel)]="selectedGenreMovies"
      (change)="getMoviesBySelectedGenre()"
    >
      <option [ngValue]="" disabled selected>Filtrar películas</option>
      <option *ngFor="let genre of genresMovies" [value]="genre.name">
        {{ genre.name }}
      </option>
    </select>
    <select
      class="custom-select"
      [(ngModel)]="selectedGenreSeries"
      (change)="getSeriesBySelectedGenre()"
    >
      <option [ngValue]="" disabled selected>Filtrar series</option>
      <option *ngFor="let genre of genresSeries" [value]="genre.name">
        {{ genre.name }}
      </option>
    </select>
  </div>
  <div class="row justify-content-around">
    <div *ngFor="let item of content" class="col-md">
      <div>
        <ng-container *ngIf="source === 'lists'; else template2">
          <a (click)="item.modalIsOpen = true">
            <img class="imgCatalog" [src]="item.imageUrl" alt="" />
          </a>
        </ng-container>
        <div
          class="modal bd-example-modal-lg"
          role="dialog"
          *ngIf="item.modalIsOpen"
          [ngClass]="{ 'modal-show': item.modalIsOpen }"
        >
          <app-review
            [content]="item"
            [listId]="listId"
            [viewerUserId]="viewerId"
            (closeModal)="item.modalIsOpen = false"
          ></app-review>
        </div>
        <ng-template #template2>
          <ng-container
            *ngIf="item.name; then serieTemplate; else movieTemplate"
          ></ng-container>
          <ng-template #serieTemplate>
            <a [routerLink]="['/content/series', item.id]">
              <img class="imgCatalog" [src]="item.imageUrl" alt="" />
            </a>
          </ng-template>
          <ng-template #movieTemplate>
            <a [routerLink]="['/content/movies', item.id]">
              <img class="imgCatalog" [src]="item.imageUrl" alt="" />
            </a>
          </ng-template>
        </ng-template>
      </div>
    </div>
  </div>
  <br />
  <nav aria-label="Page navigation">
    <ul class="pagination" *ngIf="totalPages > 1">
      <li class="page-item">
        <button
          class="page-link"
          [disabled]="currentPage === 1"
          (click)="goToPreviousPage()"
        >
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Anterior</span>
        </button>
      </li>
      <li class="page-item">
        <span>{{currentPage}}</span>
      </li>
      <li class="page-item">
        <button
          class="page-link"
          [disabled]="currentPage === totalPages"
          (click)="goToNextPage()"
        >
          <span class="sr-only">Siguiente</span>
          <span aria-hidden="true">&raquo;</span>
        </button>
      </li>
    </ul>
  </nav>
  <br />
</div>
