<div class="container">
  <h2>Crear lista</h2>
  <div class="container">
    <div class="containerForm">
      <form [formGroup]="listForm" (ngSubmit)="onSubmit()" class="list-form">
        <mat-form-field appearance="outline">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="title" required />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <textarea matInput formControlName="description"></textarea>
        </mat-form-field>

        <mat-radio-group formControlName="privacy" class="privacy-radio-group">
          <mat-radio-button value="public">Pública</mat-radio-button>
          <mat-radio-button value="private">Privada</mat-radio-button>
        </mat-radio-group>
        <input type="hidden" formControlName="userId" [value]="userId" />

        <mat-form-field>
          <input
            matInput
            #searchQuery
            (keyup)="searchContent($event)"
            placeholder="Search..."
          />
        </mat-form-field>
        <div class="searchResults">
          <ul class="listSearch">
            <li *ngFor="let content of searchResults">
              <input
                type="checkbox"
                class="checkboxSquare"
                [checked]="isSelected(content)"
                (change)="onSelect(content)"
              />
              {{
                content.media_type === "movie" ? content.title : content.name
              }}
            </li>
          </ul>
        </div>

        <div class="button-container">
          <button mat-raised-button type="submit">Create</button>
        </div>
      </form>
    </div>
    <div class="selectedContentContainer" *ngIf="selectedContent.length">
      <h3>Películas y series seleccionadas:</h3>
      <ul class="selectedContentList">
        <li *ngFor="let content of selectedContent">
          <img
            class="selectedMovieImg"
            [src]="getMoviePosterUrl(content.poster_path)"
            alt="{{ content.title }}"
          />
          <div style="width: 150px;">
            <h4>
              {{ content.media_type === "movie" ? content.title : content.name }}
            </h4>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
