.container {
  display: flex;
  flex-wrap: wrap;
}

.containerForm {
  flex: 1;
  height: 90%;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.list-form {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

.searchResults {
  overflow-y: auto;
  max-height: 200px;
  margin-bottom: 1rem;
}

.listSearch {
  list-style: none;
}

.checkboxSquare {
  margin-right: 10px;
}

.listItem {
  display: flex;
  align-items: center;
}

.privacy-radio-group {
  margin: 20px 0;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.contentName {
  white-space: nowrap;
}

.selectedContentContainer {
  flex-basis: 50%;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.selectedMovieImg {
  width: 100px;
}

ul.selectedContentList {
  overflow-y: auto;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
