.container {
    display: flex;
    height: 100vh;
  }
  
  .list-form {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
  
  .privacy-radio-group {
    margin: 20px 0;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
.checkboxSquare {
  float: right;
}