@font-face {
  font-family: "Open Sans Light";
  src: url("../../assets/fonts/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');

* {
  box-sizing: border-box;
  width: 100%;
  font-family: "Open Sans Light", sans-serif;
}

h2 {
  font-family: 'Gayathri', sans-serif;
  font-size: 26px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

img {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.column {
  margin: auto;
}

.column.left {
  display: flex;
  align-items: center;
}

.home-container {
  height: 100vh;
  background: radial-gradient(#94a4f6, white);
}

.footer{
  position: fixed;
  bottom: 0;
}

button {
  border-radius: 8px;
  width: 50%;
  background-color: white;
  color: #94A4F6;
  font-family: 'Inter', sans-serif;
}

button:hover {
  background-color: #3e5dfc;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 1.5);
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper.column {
  align-items: center;
  text-align: center;
}

